version: '3.8'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: vita_db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
      # Copia lo script di inizializzazione all'avvio
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro

volumes:
  db-data:
    driver: local